@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
.col-5 {
  width: 41.66%;
  float: left;
}

@media only screen and (max-width: 768px) {
  .col-5 {
    width: 100%;
    float: none;
  }
}

.col-7 {
  width: 58.33%;
  float: left;
  margin-bottom: 15px;
}

@media only screen and (max-width: 768px) {
  .col-7 {
    width: 100%;
    float: none;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  max-width: 768px;
  margin: 0 auto;
}

h1 {
  margin: -10px 0px 0px 26px;
  font-weight: 500;
  font-size: 27px;
}

form {
  height: 220px;
}

@media only screen and (max-width: 768px) {
  form {
    height: 100%;
  }
}

ul {
  padding-top: 10px;
}

li {
  padding-left: 4px;
}

.container--tabs {
  margin: auto;
  width: 80%;
}

.nav-tabs {
  display: inline-flex;
}

.container--tabs .nav-tabs {
  margin: -4px 4px 8px 0px;
  list-style-type: none;
  font-size: 11px;
}

.tabs-head {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  .tabs-head {
    flex-direction: column;
  }
}

.container--tabs .nav-tabs > li > a {
  margin-left: 10px;
  line-height: 1.42857143;
  border-radius: 4px 4px 0 0;
  text-decoration: none;
  color: #fe825a;
}

.container--tabs .nav-tabs > li.active > a {
  color: #c3c9dc;
  cursor: default;
  background-color: #fff;
}

.container--tabs .tab-content {
  float: right;
  width: 96%;
  text-align: left;
}

.container--tabs .tab-content > .tab-pane {
  display: none;
}

.container--tabs .tab-content > .tab-pane.active {
  text-decoration-color: #fe825a;
  display: block;
  padding: 4% 3%;
  background-color: #fff;
  border: 2px solid #c3c9dc;
  border-radius: 5px;
}

.tab2 {
  text-align: center;
}

.form-radio-group-item {
  height: 76px;
  width: 76px;
  border: 1px solid black;
  border-radius: 17%;
  margin-top: 21px;
  margin-left: 18px;
}

.form-radio-group-item--large {
  height: 106px;
  width: 106px;
  margin-left: 22px;
  border-radius: 12%;
}

@media only screen and (max-width: 768px) {
  .form-radio-group-item--large {
    height: 76px;
    width: 76px;
    border: 1px solid black;
    border-radius: 17%;
    margin-top: 21px;
    margin-left: 18px;
  }
}

input[type="radio"] {
  display: none;
}

.form-radio-group-item label {
  display: block;
  top: 15%;
  cursor: pointer;
  position: absolute;
}

input:checked ~ label {
  opacity: 0.5;
}

.style-card-m {
  background-color: #11a652;
  height: 96%;
  margin: 3px;
  border-radius: 11%;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .style-card-m {
    background-color: #11a652;
    height: 95%;
    margin: 2px;
    border-radius: 17%;
    position: relative;
  }
}

.style-card-r {
  background-color: #fe7fc2;
  height: 95%;
  margin: 2px;
  border-radius: 17%;
  position: relative;
}

.style-card-ns {
  background-color: #006dfe;
  height: 95%;
  margin: 2px;
  border-radius: 17%;
  position: relative;
}

.text-span {
  color: white;
  position: absolute;
  bottom: 8px;
  left: 13px;
  opacity: 0.3;
  font-weight: 800;
  font-size: 35px;
}

@media only screen and (max-width: 768px) {
  .text-span {
    bottom: 6px;
    left: 9px;
    opacity: 0.3;
    font-weight: 700;
    font-size: 21px;
  }
}

.text-span--sm {
  color: white;
  position: absolute;
  bottom: 6px;
  left: 9px;
  opacity: 0.3;
  font-weight: 700;
  font-size: 21px;
}

.card-label-m {
  padding-top: 110px;
  width: 130px;
  padding-left: 16px;
  line-height: 22px;
}

@media only screen and (max-width: 768px) {
  .card-label-m {
    padding-left: 111px;
    width: 140px;
    padding-top: 0;
  }
}

.card-label-m:before {
  content: '';
  display: block;
  position: absolute;
  height: 8px;
  width: 8px;
  top: 116px;
  border-radius: 50%;
  background-color: black;
  left: -4px;
}

@media only screen and (max-width: 768px) {
  .card-label-m:before {
    position: initial;
    float: left;
    margin-left: -14px;
    margin-top: 5px;
  }
}

.card-label-r {
  padding-left: 111px;
  width: 140px;
}

.card-label-r:before {
  content: '';
  display: block;
  position: absolute;
  height: 8px;
  width: 8px;
  left: 97px;
  top: 1px;
  border-radius: 50%;
  background-color: black;
}

.card-label-ns {
  padding-left: 112px;
  padding-top: 2px;
  width: 140px;
  line-height: 23px;
}

.card-label-ns:before {
  content: '';
  display: block;
  position: absolute;
  height: 8px;
  width: 8px;
  left: 97px;
  top: 10px;
  border-radius: 50%;
  background-color: black;
}
